:root {
    --bg-primary-gradient: linear-gradient(135deg, hsl(253, 88%, 75%), hsl(253, 42%, 46%));
    --bg-secondary-gradient: linear-gradient(135deg, hsl(253, 55%, 58%), hsl(253, 48%, 46%));
    --bg-tertiary-gradiente: linear-gradient(135deg, hsl(253, 30%, 24%), hsl(253, 51%, 49%));
    --primary-text-color: rgb(245, 249, 255);
    --secondary-color: hsl(253, 42%, 46%);
    --drop-shadow: drop-shadow(1px 1px 0.1rem var(--primary-text-color));
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    transition: 1s;
    background-image: var(--bg-tertiary-gradiente);
}

a {
    text-decoration: none;
}

/* Header and Footer */
header,
footer {
    padding: 1rem 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
}

header a,
footer a {
    color: var(--primary-text-color);
}

nav {
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
}

.nav-icons,
#personal-brand,
#contact-me {
    transition: 0.2s;
}

.nav-icons:hover,
#personal-brand:hover,
#contact-me:hover {
    transform: scale(1.2);
}

/* Main Banner */
section {
    width: 100%;
    height: calc(100vh - 72px);
    padding: 0 13%;
    position: relative;
    overflow: hidden;
}

.text-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    color: white;
    opacity: 0.8;
    animation: fadeIn 1s;
    transition: 1s;
}

h1 {
    font-size: 4rem;
    filter: drop-shadow(1px 1px 0.1rem var(--primary-text-color));
}

#description {
    line-height: 170%;
    max-width: 62%;
    font-size: 1.3rem;
    opacity: 0.8;
}

.text-content a {
    opacity: 0.8;
    transition: 0.5s;
}

#contact-me {
    position: fixed;
    bottom: 10vh;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary-text-color);
    text-transform: uppercase;
}

#blinking-effect {
    animation: blinking 0.5s infinite;
}

#contact-me i{
    color: rgb(0, 255, 0);
    filter: drop-shadow(1px 1px 1rem var(--primary-text-color));
    font-size: 2rem;
}

#contact-me-text-content {
    display: flex;
    gap: 0.2rem;
}

.text-content a:hover {
    opacity: 1;
}

#text-decoration-h1 {
    border-bottom: 5px solid var(--primary-text-color);
}

/* Projects */
#projects-container {
    display: flex;
    flex-direction: column;
}

#projects-container h2 {
    color: var(--primary-text-color);
    font-size: 3.5rem;
    filter: drop-shadow(1px 1px 0.1rem var(--primary-text-color));
    opacity: 0.8;
}

.show-container {
    padding: 5vh 0;
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    z-index: 1;
}

.project-btn {
    width: 100%;
    height: 20vh;
    padding: 0.5rem;
    border: none;
    background-color: var(--primary-text-color);
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    gap: 1rem;
    opacity: 0.8;
}

.project-btn h3 {
    text-transform: uppercase;
    font-weight: bolder;
    background-image: var(--bg-tertiary-gradiente);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 1.5rem;

}

.project-btn img {
    position: absolute;
    width: 40px;
    border: 1.5px solid var(--secondary-color);
    right: 0.5rem;
    bottom: 0.5rem;
    opacity: 0.5;
}

.showing-img {
    width: 100%;
    position: absolute;
    display: none;
    top: 15vh;
    left: 0;
    opacity: 0.9;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    
    to {
        opacity: 0.8;
    }
}

@keyframes blinking {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes blurOut {
    from {
        filter: blur(5px);
    }

    to{
        filter: none;
    }
}


@media screen and (max-width:600px) {
    header,
    #main-banner,
    #projects-container,
    footer {
        padding: 2rem;
    }

    section {
        height: fit-content;
        overflow: visible ; 
        height: fit-content;
    }

    h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .text-content {
        justify-content: flex-start;
    }

    #description {
        font-size: 1rem;
        max-width: max-content;
    }

    #projects-container {
        margin-top: 3rem;
        gap: 1rem;
    }

    #projects-container h2 {
        font-size: 2rem;
        height: fit-content;
    }

    .show-container {
        width: 300px;
        height: 250px;
        display: flex;
        overflow: scroll;
        flex-direction: column;
        padding: 0;
    }

    .showing-img {
        display: none;
    }

    #contact-me {
        width: fit-content;
        position: absolute;
        bottom: -2.5rem;
        
    }
    
}